@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "~@edx/frontend-component-header/dist/index";

// Hide React error overlay (red error screen)
iframe[id^="webpack-dev-server-client-overlay"] {
  display: none !important;
}

#root {
  --header-height: 60px;
  --tabs-navigation-height: 60px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }

  header {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    height: var(--header-height);

    // Ensure dropdown menu appears above course tabs navigation
    .dropdown-menu,
    .dropdown-menu.show {
      z-index: 1010 !important;
    }

    .logo {
      display: block;
      box-sizing: content-box;
      position: relative;
      top: 0.1em;
      height: 1.75rem;
      margin-right: 1rem;
      img {
        display: block;
        height: 100%;
      }
    }
  }

  main {
    margin-top: calc(var(--header-height) + var(--tabs-navigation-height));
  }

  footer {
    flex: 0;
  }
}

.nav-underline-tabs {
  margin: 0 0 -1px;

  .nav-link {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: $gray-700;

    // temporary until we can remove .btn class from dropdowns
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:hover,
    &:focus,
    &.active {
      font-weight: $font-weight-normal;
      color: $primary-500;
      border-bottom-color: $primary-500;
    }
  }
}

.pgn__menu-select .pgn__menu-select-popup {
  position: static;
}

.sequence-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.sequence {
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    border: solid 1px #eaeaea;
    border-radius: 4px;
  }
}

.sequence-navigation-container {
  display: flex;
  align-items: flex-start;
}

.notification-btn {
  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    height: 3rem;
  }
}

.sequence-navigation {
  display: flex;
  flex-grow: 1;

  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    max-width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    margin: -1px -1px 0;
  }

  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    width: 100% !important;
  }

  .btn {
    flex-grow: 1;
    display: inline-flex;
    border-radius: 0;
    border: solid 1px #eaeaea;
    border-left-width: 0;
    position: relative;
    font-weight: 400;
    padding: 0 0.375rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: $gray-500;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.active {
      color: $gray-700;
    }

    &:focus {
      z-index: 1;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: $primary;
      }
    }

    &.complete {
      background-color: #eef7e5;
      color: $success;
    }

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }

  .sequence-navigation-tabs-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    // min-width 0 prevents the flex item from overflowing the parent container
    // https://dev.to/martyhimmel/quick-tip-to-stop-flexbox-from-overflowing-peb
    min-width: 0;
  }

  .sequence-navigation-tabs {
    overflow: auto;
    .btn {
      flex-basis: 100%;
      min-width: 3rem;
    }
  }

  .navigation-tab-width-xl {
    max-width: 47rem;
  }

  .navigation-tab-width-large {
    max-width: 28rem;
  }

  .navigation-tab-width-medium{
    max-width: 23.5rem;
  }

  .sequence-navigation-dropdown {
    .dropdown-menu .btn {
      flex-basis: 100%;
      min-width: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      border-right: 0;

      & + .btn {
        border-top: 0;
      }

      .unit-title {
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        min-width: 0;
        margin: 0 1rem;
        text-overflow: ellipsis;
        color: $gray-700;
      }

      &.active {
        .unit-icon {
          color: $primary-500;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          top: 0px;
          right: auto;
          width: 2px;
          height: auto;
          background: $primary;
        }
      }
    }

    .dropdown-item {
      &.active {
        // This is un-doing the default react-bootstrap styling for active dropdown-item elements.
        background-color: transparent;
      }
    }
  }

  .previous-btn,
  .next-btn {
    border: 1px solid $light-400 !important;
    color: $gray-700;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      min-width: fit-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .previous-btn {
    border-left-width: 0;
    margin-left: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-left-width: 1px;
      border-top-left-radius: 4px;
    }
  }

  .next-btn {
    border-left-width: 1px;
    border-right-width: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-top-right-radius: 4px;
      border-right-width: 1px;
    }
  }
}

.unit-container {
  padding-top: 0;
  padding-bottom: 2rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  @media (min-width: 830px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.unit-iframe-wrapper {
  margin-top: 0;

  // Some XBlocks (such as xblock-drag-and-drop-v2) rely on the viewport width
  // to determine their layout on mobile. This is problematic because the
  // viewport width may not be the same as the width of the iframe. To fix this,
  // here we compensate for the padding of the parent div with "container-xl"
  // class to ensure that the viewport width is the same as the width of the
  // iframe.
  margin-left: 0;
  margin-right: 0;

  margin-bottom: 2rem;

  // Prevent layout shift from iframe resizing
  min-height: 400px;
  contain: layout style; // Contain layout and style changes

  @media (min-width: 830px) {
    margin: 0 0 2rem;
  }
}

#unit-iframe {
  width: 100%;
  border: none;
  display: block;
  min-height: 400px; // Minimum height to reduce layout shift
  will-change: height; // Optimize for height changes
  contain: layout; // Contain layout changes to prevent reflow
}

.unit-navigation {
  display: flex;
  justify-content: center;
  max-width: 640px;
  margin: 0 auto;
  transform: translateZ(0); // Create separate layer to prevent reflow from iframe
  will-change: auto; // Let browser optimize
  backface-visibility: hidden; // Optimize rendering

  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    flex-direction: column;
    gap: $spacer;
  }

  .previous-button,
  .next-button {
    border-radius: 4px;

    &:focus:before {
      border-radius: 6px;
    }
  }

  .next-button {
    flex-basis: 75%;

     @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
       flex-basis: 100%;
     }
  }

  .previous-button {
    flex-basis: 25%;

     @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
       flex-basis: 100%;
     }
  }
}

.top-unit-navigation {
  max-width: 100%;
  justify-content: flex-end;
  transform: translateZ(0); // Create separate layer
  backface-visibility: hidden; // Optimize rendering

  .next-button,
  .previous-button {
    @media (min-width: map-get($grid-breakpoints, "md")) {
      flex-basis: auto;
      min-width: 8rem;
    }
  }
}

// This class forces any modals using 'modal-lti' as their dialogClassName to take up the whole
// window (retaining padding around the edge).  Bootstrap modals don't have a full-screen
// size like this.  Because of the hack below around react-focus-on's div, it would be better long-term to pull this into Paragon and perhaps call it "modal-full" or something like that.
.modal-lti {
  height: 100%;
  max-width: 100% !important;

  // I don't like this.  We need to set a height of 100% on a div created by react-focus-on, a
  // package we use in our Modal.  That div has no class name or ID, so instead we're uniquely
  // identifying it by based on a unique attribute it has which its siblings don't share.
  > div[data-focus-lock-disabled="false"] {
    height: 100%;
  }

  // Along with setting the height of modal-content's parent div from react-focus-on, we need to
  // set modal-content's height as well to get the modal to expand to full-screen height.
  .modal-content {
    height: 100%;
  }
}

.greyed-out {
  opacity: 0.3;
}

.locked-overlay {
  opacity: 0.3;
  pointer-events: none;

  &.grades {
    overflow: hidden;
    max-height: 852px;
    @media screen and (min-width: 992px) {
      max-height: 920px;
    }
  }
}

.raised-card {
  border: 0 !important;
  box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .2) !important;
}

.icon-hover {
  &:hover {
    color: $primary-500 !important;
    background-color: $light-300 !important;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
}

// Import component-specific sass files
@import "courseware/course/celebration/CelebrationModal.scss";
@import "courseware/course/sidebar/sidebars/discussions/Discussions.scss";
@import "courseware/course/sidebar/sidebars/notifications/NotificationIcon.scss";
@import "courseware/course/sequence/lock-paywall/LockPaywall.scss";
@import "shared/streak-celebration/StreakCelebrationModal.scss";
@import "courseware/course/content-tools/calculator/calculator.scss";
@import "courseware/course/content-tools/contentTools.scss";
@import "course-home/dates-tab/timeline/Day.scss";
@import "generic/upgrade-notification/UpgradeNotification.scss";
@import "generic/upsell-bullets/UpsellBullets.scss";
@import "course-home/outline-tab/widgets/ProctoringInfoPanel.scss";
@import "course-home/outline-tab/widgets/FlagButton.scss";
@import "course-home/progress-tab/course-completion/CompletionDonutChart.scss";
@import "course-home/progress-tab/grades/course-grade/GradeBar.scss";
@import "courseware/course/course-exit/CourseRecommendations";
@import "product-tours/newUserCourseHomeTour/NewUserCourseHomeTourModal.scss";
@import "course-home/courseware-search/courseware-search.scss";
@import "course-tabs/course-tabs-navigation.scss";
@import "courseware/course/sidebar/common/SidebarBase.scss";
@import "courseware/course/sidebar/sidebars/course-outline/CourseOutlineTray.scss";
@import "instructor-toolbar/InstructorToolbar.scss";

// =============================================
// Product Tour - Modern & Beautiful Styling
// =============================================

// Tour Checkpoint Popover - Main container
.popover[class*="productTour"],
[class*="productTour-checkpoint"],
[class*="productTour__checkpoint"] {
  max-width: 380px !important;
  min-width: 320px !important;
  z-index: 10000 !important;
  border: none !important;
  border-radius: 16px !important;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15), 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  overflow: hidden;
  background: #fff !important;

  // Arrow styling
  .popover-arrow,
  .arrow {
    &::before {
      border-color: transparent !important;
    }
    &::after {
      border-color: transparent !important;
    }
  }
}

// Tour Header with gradient
[class*="productTour"] .popover-header,
.pgn__productTour-title,
.pgn__productTour__title {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  padding: 1rem 1.25rem !important;
  border: none !important;
  margin: 0;
  letter-spacing: 0.01em;
}

// Tour Body content
[class*="productTour"] .popover-body,
.pgn__productTour-body,
.pgn__productTour__body {
  max-height: none !important;
  overflow: visible !important;
  padding: 1.25rem !important;
  font-size: 0.9375rem;
  line-height: 1.65;
  color: #4a5568;
  background: #fff;

  p {
    margin: 0;
    line-height: 1.65;
    word-wrap: break-word;
    white-space: normal;
  }
}

// Tour Footer with buttons
[class*="productTour-footer"],
[class*="productTour__footer"],
.pgn__productTour-footer,
.pgn__productTour__footer {
  padding: 1rem 1.25rem !important;
  background: #f8fafc !important;
  border-top: 1px solid #e2e8f0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  gap: 0.75rem;

  // Step indicator (e.g., "1 of 5")
  [class*="indexLabel"],
  span:first-child:not(.btn) {
    font-size: 0.8125rem;
    color: #718096;
    font-weight: 500;
    background: #edf2f7;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
  }

  // Button container
  > div:last-child,
  .btn-group {
    display: flex;
    gap: 0.5rem;
  }

  // All buttons base style
  .btn {
    min-width: auto;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.2s ease;
  }

  // Primary/Brand button (Next, OK, etc.)
  .btn-primary,
  .btn-brand {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
    border: none !important;
    color: #fff !important;
    box-shadow: 0 2px 8px rgba(102, 126, 234, 0.4);

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(102, 126, 234, 0.5);
    }
  }

  // Secondary button (Dismiss, Skip)
  .btn-tertiary,
  .btn-outline-primary,
  .btn-light {
    background: #fff !important;
    border: 1px solid #e2e8f0 !important;
    color: #4a5568 !important;

    &:hover {
      background: #f7fafc !important;
      border-color: #cbd5e0 !important;
    }
  }
}

// =============================================
// Welcome Modal - New User Tour Dialog
// =============================================
.new-user-tour-dialog,
.pgn__marketing-modal {
  z-index: 10001 !important;

  .modal-dialog {
    max-width: 480px !important;
  }

  .pgn__modal-content,
  .modal-content {
    border: none !important;
    border-radius: 20px !important;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  // Hero section with image
  .pgn__modal-hero,
  [class*="modal-hero"] {
    min-height: 200px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: linear-gradient(to top, rgba(0,0,0,0.3), transparent);
    }
  }

  .pgn__modal-hero-content,
  [class*="hero-content"] {
    padding: 2rem !important;
    position: relative;
    z-index: 1;

    h2, .pgn__modal-title {
      font-size: 1.5rem !important;
      font-weight: 700 !important;
      line-height: 1.3;
      color: #fff;
      text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .text-accent-b {
      color: #ffd700 !important;
    }
  }

  // Modal body
  .pgn__modal-body,
  .modal-body {
    padding: 1.75rem 2rem !important;
    background: #fff;

    p {
      font-size: 1rem;
      line-height: 1.7;
      color: #4a5568;
      margin: 0;
    }
  }

  // Footer with action buttons
  .pgn__action-row,
  [class*="action-row"],
  .modal-footer {
    padding: 1.25rem 2rem 1.75rem !important;
    background: #f8fafc;
    border-top: 1px solid #e2e8f0 !important;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;

    .btn {
      min-width: 120px;
      padding: 0.75rem 1.5rem;
      font-size: 0.9375rem;
      font-weight: 600;
      border-radius: 10px;
      transition: all 0.2s ease;
    }

    // Skip button
    .btn-tertiary {
      background: transparent !important;
      border: none !important;
      color: #718096 !important;

      &:hover {
        color: #4a5568 !important;
        background: #edf2f7 !important;
      }
    }

    // Begin Tour button
    .btn-brand,
    .btn-primary {
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
      border: none !important;
      color: #fff !important;
      box-shadow: 0 4px 14px rgba(102, 126, 234, 0.4);

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(102, 126, 234, 0.5);
      }
    }
  }
}

// =============================================
// Dark mode support for tours
// =============================================
body.indigo-dark-theme {
  .popover[class*="productTour"],
  [class*="productTour-checkpoint"],
  [class*="productTour__checkpoint"] {
    background: #1f2937 !important;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4) !important;
  }

  [class*="productTour"] .popover-body,
  .pgn__productTour-body {
    background: #1f2937;
    color: #e5e7eb;
  }

  [class*="productTour-footer"],
  .pgn__productTour-footer {
    background: #111827 !important;
    border-top-color: #374151 !important;

    [class*="indexLabel"] {
      background: #374151;
      color: #9ca3af;
    }

    .btn-tertiary,
    .btn-light {
      background: #374151 !important;
      border-color: #4b5563 !important;
      color: #e5e7eb !important;
    }
  }

  .new-user-tour-dialog,
  .pgn__marketing-modal {
    .modal-content {
      background: #1f2937;
    }

    .modal-body {
      background: #1f2937;

      p {
        color: #e5e7eb;
      }
    }

    .modal-footer,
    .pgn__action-row {
      background: #111827;
      border-top-color: #374151 !important;
    }
  }
}
